.odkaz {
display: inline-block;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(163, 189, 243);
  border: 5px solid rgb(35, 12, 165);
}

.odkaz-zpět {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}